*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.carousel-container{
  width: 60%;
  margin:auto;
  border: 5px solid green;
  overflow: hidden;
  position: relative;
}


.carousel-slide{
  display: flex;

}

#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}
